Repository owncloud/files_external_dropbox, pull requests merged in 2019-11, with the labels that each got.

#72 Updating symfony/var-dumper (v3.4.32 => v3.4.33)
  composer.lock
Labels: 3 - To review, dependencies

#71 Bump version, edit changelog
  CHANGELOG.md
  appinfo/info.xml
Labels: 3 - To review

#73 Implement current drone starlark code
  .drone.starlark
Labels: 3 - To review, Drone, QA-team

#74 Drop PHP 7.0 from drone CI
  .drone.starlark
  .drone.yml
Labels: 3 - To review, Drone, QA-team
